button {
    background-color: rgb(0, 158, 231);
    border: 0px;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    margin: 4px 0px;
}

.triggerButton {
    background-color: rgb(0, 110, 255);
}

.buttons {
    margin: 0px auto;
    text-align: center;
    height: auto;
    width: auto;
}

.text{
    text-align: center;
    font-size: 200%;
    color: lightseagreen;
}

.jsimg {
    width: 100%;
    text-align: center;
}

img {
    margin: 30px auto;
}